@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>About</h3>
<hr />
<p>Androtomist is a hybrid analysis tool which utilizes both static and dynamic analysis to detect malicious Android applications.</p>
<p>The tool currently operates on the novice user mode. Advanced user functionality is to be enabled after obtaining a decision on the submitted paper. </p>
<p>The source code is available at <a href="https://github.com/billkoul/Androtomist">GitHub</a>. If you have any issues please <a href="mailto:bkouliaridis@aegaen.gr">contact as</a></p>
<div class="row">
    <a href="/files/files/add" class="btn btn-success">
        <i class="fa fa-file"></i>
        <span>Upload File</span>
    </a>
</div>

